<h2>Tags</h2>
<div id="tag_ajax_form">
  <p><input type="text" name="name" value="" id="tag_ajax_form_name"/><input id="tag_ajax_form_submit" type="submit" value="Add tag"/></p>
</div>
<ul id="tags_list" class="loading"><!-- load content via ajax --></ul>
<script type="text/javascript" charset="utf-8">
  $(function(){
    tags.init(<%= @post ? @post.id : '' %>);
  });
</script>