<form action="/admin/tags/<%= @tag.id %>" method="post" accept-charset="utf-8">
  <% if @messages %>
    <p class="error">Error:<br/> 
    <%= @messages.join('<br/>') %></p>
  <% end %>
  <input type="hidden" name="_method" value="put" id="_method"/>
  <p>
    <label for="name">Name</label><br/>
    <%= text_field 'name', @tag.name %>
  </p>
  <p><input type="submit" value="Continue &rarr;"/></p>
</form>