<a href="/admin/posts/add">Write a new post</a><br/>
<table>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
<% if @posts %>
  <% @posts.each do |post| %>
  <tr>
    <td>
      <a href="/admin/posts/<%= post[:_id] %>"><%= post[:title] %></a><br/>
    </td>
    <td>
      <%= link_to 'Edit', "/admin/posts/#{post[:_id]}/edit"%>
      <%= delete_btn('Delete', "/admin/posts/#{post[:_id]}") %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>