<html>
<head>
  <title>Blog Administration</title>
  <link rel="stylesheet" href="/admin/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
  <script src="/admin/javascript/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/admin/ckeditor/ckeditor.js" type="text/javascript"></script>
  <script src="/admin/ckeditor/adapters/jquery.js" type="text/javascript"></script>
  <script src="/admin/javascript/common.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  //<![CDATA[
  var lennon = {};
  lennon.blog_url = "<%= options.conf.blog_url %>";
  $(function()
  {
  	var config = {
  		toolbar:
  		[
  			['Source','-','Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink'],
  			['Image','Format','UIColor']
  		],
  		filebrowserImageUploadUrl: '/admin/upload?type=Images',
  		filebrowserImageBrowseUrl: '/admin/uploaded_images'
  	};
  	// Initialize the editor.
  	// Callback function can be passed and executed after full instance creation.
  	$('.jquery_ckeditor').ckeditor(config);
  });
  //]]>
  </script>
  
</head>
<body>
  <div id="wrapper">
  <h1>Blog Administration</h1>
  <% if authorized? %>
  <p id="admin_menu">
    <a class="button radius5" href="/admin/posts">Manage Posts</a> 
    <a class="button radius5" href="/admin/tags">Manage Tags</a>
    <a class="button radius5" href="/admin/options">Options</a>
  </p>
  <% end %>
  <%= yield %>
  </div>
</body>
</html>