<div id="sidebar">
  
  <h3>Latest Comments</h3>
  <div class="sidebar_block">
    <ul>
    <% @latest_comments.each do |comment| %>
      <li><a href="<%= post_url(comment.post) %>"><%=h truncate_words(comment.comment, 10) %></a></li>
    <% end %>
    </ul>
  </div>
  
  <h3>Archive</h3>
  <div class="sidebar_block">
    <ul>
    <% @months.each do |month| %>
      <li><%= link_to month[0].strftime('%B %Y'), "/archive/#{month[0].year}/#{month[0].month}" %></li>
    <% end %>
    </ul>
  </div>
  
  <h3>Tags</h3>
  <div class="sidebar_block">
    <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, "/tags/#{tag.slug}" %></li>
    <% end %>
    </ul>
  </div>
  
</div>