<form action="/admin/posts/add" method="post" accept-charset="utf-8">
  <p>
    <label for="title">Title</label><br/>
    <input type="text" name="title" value="" id="title"/>
  </p>
  <p>
    <label for="content">Content</label><br/>
    <textarea name="content" rows="8" id="content" cols="40"></textarea>
  </p>
  <p><input type="submit" value="Continue &rarr;"/></p>
</form>