<form method='POST' action='/admin/login'>
  <label for="username">username</label><input type="text" name="username" value="" id="username"/>
  <label for="password">password</label><input type="password" name="password" value="" id="password"/>
  <input type="submit" name="submit" value="" id="submit"/>
</form>