<form method='POST' action='/admin/login'>
  <p><label for="username">username</label><br/>
  <input type="text" name="username" value="" id="username"/></p>
  <p><label for="password">password</label><br/>
  <input type="password" name="password" value="" id="password"/></p>
  <p><input type="submit" name="submit" value="Login" id="submit"/></p>
</form>