<div id="posts">
<% if @posts %>
  <% @posts.each do |post| %>
    <%= partial :_post, :locals=>{:post=>post} %>
  <% end %>
<% end %>
</div>
<div id="pagination">
<%= @paginator.prev %>
<%= @paginator.pages %>
<%= @paginator.next %>
</div>