<html>
<head>
  <title>ADMIN</title>
  <link rel="stylesheet" href="/admin/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
</head>
<body>
  <h1>ADMIN</h1>
  <%= yield %>
</body>
</html>