<% if @posts %>
  <% @posts.each do |post| %>
    <h2><a href="/post/<%= post[:_id] %>"><%= post[:title] %></a></h2>
    <p><%= post[:content] %></p>
  <% end %>
<% end %>
<p>
<%= paginate (@count / @per_page.to_f).ceil, params[:page] %>
</p>