<%= partial :_post, :locals=>{:post=>@post} %>
<div id="post_comments">
  <% @post.comments.each do |comment| %>
    <%= partial :_comment, :locals=>{:comment=>comment} %>
  <% end %>
</div><!-- /comments -->

<%= partial :_leave_comment, :locals=>{:post=>@post} %>