<%= partial :_post, :locals=>{:post=>@post} %>
<a name="comments"></a>
<% if @post.comments.length > 0 %>
<div id="post_comments">
  <% @post.comments.each do |comment| %>
    <%= partial :_comment, :locals=>{:comment=>comment} %>
  <% end %>
</div><!-- /comments -->
<% end %>
<%= partial :_leave_comment, :locals=>{:post=>@post} %>